#Fiji {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

.img2:hover{
-webkit-transform: scale(1.3);
transform: scale(1.3);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}