.heading{
    position: fixed;
  }
  
  :root {
    --black: #000;
    --light-green: #83e783;
    --light-blue: #98b2da;
    --dark-blue: #505b9c;
    --dark-green: #97b8a1e7;
  
    --primary: var(--light-green);
    --secondary: var(--dark-green);
  }
  
  .logo{
    font-size: 1.2rem;
    font-family: "Abril Fatface", cursive;
  
  }
  
  .navT{
    font-size: 1.5rem;
    color:white;
    margin-left: 1rem;
  }
  
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  
  #navbar {
    overflow: hidden;
  }
  
  .menu div {
    width: 30px;
    height: 3px;
    cursor: pointer;
    margin: 5px;
    background-color: white;
  }
  
  .menu {
    display: none;
  }
  
  nav {
    position: fixed;
    min-height: 5vh;
    background-color: rgb(26, 156, 156);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    width: 100px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
  }
  
   nav ul li a:hover {
    color: rgb(159, 198, 243);
  }
  


.frontimg {
    position: relative;
    top: 0rem;
    float: right;
    margin-left: auto;
    margin-right: 5rem;
    width: 55%;
    height: 55%;
    border-radius: 60px;
  }

