.heading {
  position: fixed;
}

.logo {
  font-size: 1.2rem;
  font-family: "Abril Fatface", cursive;
}

.navT {
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

#navbar {
  overflow: hidden;
}

.menu div {
  width: 30px;
  height: 3px;
  cursor: pointer;
  margin: 5px;
  background-color: white;
}

.menu {
  display: none;
}

nav {
  position: fixed;
  min-height: 5vh;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  left: 0;
  z-index: 1;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  width: 100px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
}

nav ul li a:hover {
  color: rgb(159, 198, 243);
}

.frontimg {
  position: relative;
  top: 0rem;
  float: right;
  margin-left: auto;
  margin-right: 15rem;
  margin-top: 5rem;
  width: 55%;
  height: 55%;
  border-radius: 60px;
}

.button {
  color: var(--font-color);
  background-color: var(--color-primary);
  font-family: inherit;
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-top: -10rem;
  margin-left: 6rem;
  cursor: pointer;
  transition: all 0.15s;
  /*   background-color: rgb(255, 253, 244);
    color: rgb(245, 101, 125);
    border: 3px solid #479cd6; */
}
.button:hover {
  transform: scale(1.05);
}

.sidethingy {
  color: var(--font-color);
}
