#Countries {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 5vh;
  margin-top: 7rem;
}

#Norway {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 5vh;
  margin-top: 30rem;
}

#Africa {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 5vh;
  margin-top: 30rem;
}

#Egypt {
  justify-content: space-evenly;
  height: 5vh;
  margin: 10rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-flow: wrap;
}

#Mexico {
  justify-content: space-evenly;
  height: 5vh;
  margin: 10rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-flow: wrap;
}
