
html, 
  body {
    padding: 0%;
    margin: 0%;
    background: rgb(255, 255, 255);
  }


.img {
  width: 20rem;
  height: 20rem;
  margin: 5rem;
display: flex;
  border-width: 8rem;
  padding: 5px 5px;
  background-color: rgb(240, 240, 240);
  object-fit: cover;
}

#header {
  height: 100vh;
  padding: 60px;
  margin-right: -2rem;
  margin-left: -2rem;
  background-image: url(images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

#heading {
  height: 10vh;
  width: 100vw;
  background-color: rgb(146, 193, 255);
  left: 0;
  position: fixed;
  top: 0;
}

.sections {
  margin-top: -1rem;
  font-family: 'Lato', sans-serif;
}

.subheader {
  margin-right: 4rem;
  margin-left: 12rem;
  display: inline-block;
  font-size: 1rem;
  color: rgb(8, 0, 31);
  font-weight: 300;
}


a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

.title {
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: underline;
}

#Hawaii{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card1{
  background-color: rgb(131, 231, 131);
width:27%;
height:70vh;
margin: 10px;
border-radius: 17px;
  padding: 10px;
}

.Card-img{
  background-image: url(images/bck.jpg);
  border-radius: 5px;
background-size: cover;
  padding: 12px;
}


.img1{
  height: 15rem;
  width: 15rem;
  margin: auto;
  display: block;
}

.foodtitle{
  font-size: 1.5rem;
  font-family: 'Lobster Two', cursive;
}

.info{
margin-top: -0.9rem;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.Title1{
  font-size: 3rem;
  text-align: center;
  padding: 5px;
  margin-bottom: -3rem;
  font-family: 'Lobster Two', cursive;
  text-decoration: underline;
}

#Fiji{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card2{
  background-color: rgb(113, 168, 113);
width:27%;
height:70vh;
margin: 10px;
border-radius: 17px;
  padding: 10px;
}

.Card-img2{
  background-image: url(images/bck.jpg);
  border-radius: 5px;
background-size: cover;
  padding: 12px;
}

#Philippines{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card3{
  background-color: rgb(125, 221, 125);
width:27%;
height:70vh;
margin: 10px;
border-radius: 17px;
  padding: 10px;
}

.Card-img3{
  background-image: url(images/bck.jpg);
  border-radius: 5px;
background-size: cover;
  padding: 12px;
}

#Palau{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card4{
  background-color: rgb(113, 168, 113);
width:27%;
height:70vh;
margin: 10px;
border-radius: 17px;
  padding: 10px;
}

.Card-img4{
  background-image: url(images/bck.jpg);
  border-radius: 5px;
background-size: cover;
  padding: 12px;
}

