
html, 
  body {
    padding: 0%;
    margin: 0%;
    background: linear-gradient(white, rgb(185, 233, 255));
    scroll-behavior:smooth;
  }


.img {
  width: 20rem;
  height: 20rem;
  margin:8rem;
display: flex;
margin-left:10rem;
margin-right: 20rem;
  border-width: 8rem;
  padding: 5px 5px;
  background-color: rgb(240, 240, 240);
}

#header {
  height: 100vh;
  padding: 60px;
  margin-right: -2rem;
  margin-left: -2rem;
  background-image: url(images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

#heading {
  height: 10vh;
  width: 100vw;
  background-color: rgb(146, 193, 255);
  left: 0;
  position: fixed;
  top: 0;
}

.sections {
  margin-top: -1rem;
  font-family: 'Kaushan Script', cursive;
}

.subheader {
  margin-right: 4rem;
  margin-left: 12rem;
  display: inline-block;
  font-size: 1rem;
  color: rgb(8, 0, 31);
  font-weight: 300;
}


a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

.title {
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: underline;
}

.Region{
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
  text-align: center;
  margin: 3rem;
 text-decoration: underline;
}

.Hawaii{
  display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Fiji{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.Phillipines{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-block-end: 50px;
  flex-wrap: wrap;
}

.Palau{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-block-end: 50px;
  flex-wrap: wrap;
}