html,body{
  background-image: linear-gradient(rgb(205, 212, 241), rgb(206, 176, 162));
  max-width: 100vw;
}

.img {
  width: 15rem;
  height: 15rem;
  margin: 8rem;
  border-width: 8rem;
  margin-top: 2rem;
  padding: 5px 5px;
  background-color: rgb(240, 240, 240);
}

#N {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh;
  margin-top: 5rem;
}

#E {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh;
  margin-top: -1rem;
}

#D {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh;
  margin-top: 5rem;
}


#S {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh;
  margin-top: -1rem;
}

#header {
  margin-top: 4rem;
  height: 100vh;
  padding: 60px;
  width: 95vw;
  margin-right: -2rem;
  margin-left: -2rem;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 102vw, 100vh;
  

}

.title {
  font-size: 3rem;
  font-family: "Uncial Antiqua", cursive;
  margin-left: 4rem;
}

#heading {
  height: 13vh;
  width: 100vw;
  margin-top: -10.5rem;
  background-color: rgb(163, 178, 211);
  margin-left: -3rem;
  margin-right: -2rem;
}

.itm {
  margin-top: -12rem;
  margin-right: 4rem;
  margin-left: 12rem;
  display: inline-block;
  font-size: 1.5rem;
  color: rgb(8, 0, 31);

}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

#p {
  margin-top: 7rem;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Uncial Antiqua", cursive;
}



#f{
  margin-top: 25rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Uncial Antiqua", cursive;
}

#C{
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Uncial Antiqua", cursive;
}



#A{
  margin-top: 22rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Uncial Antiqua", cursive;
}

#R{
  margin-top: 30rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Uncial Antiqua", cursive;
}

.words{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  margin-bottom: -1rem;
  text-decoration: underline;
}

.cold1{
  font-size: 1rem;
margin-left: 390px;
  margin-top: 4rem;
  margin-bottom: -10rem;


}

.hot1{
  font-size: 1rem;
  margin-left: 390px;
    margin-top: 4rem;
    margin-bottom: -10rem;
}

.cold2{
  font-size: 1rem;
  margin-left: 390px;
    margin-top: 4rem;
    margin-bottom: -10rem;
}

.hot2{
  font-size: 1rem;
  margin-left: 390px;
    margin-top: 4rem;
    margin-bottom: -10rem;
}

.f1{
  width: 15rem;
  height: 15rem;
  margin: 8rem;
  border-width: 8rem;
  margin-top: 2rem;
  margin-left: 20rem;
  padding: 5px 5px;
  background-color: rgb(240, 240, 240);
}

.a1{
  width: 15rem;
  height: 15rem;
  margin: 8rem;
  border-width: 8rem;
  margin-top: 2rem;
  padding: 5px 5px;
  background-color: rgb(240, 240, 240);
}