

.img{
  width: 25rem;
    height: 25rem;
    margin: 2rem;
    border-width: 1rem;
    padding: 5px 5px;
  }

#Countries{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 1rem;
}

#Food{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 30rem;
}

#Activities{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 30rem;
}



.imgs{
  width: 7rem;
    height: 7rem;
    border-width: 1rem;
    padding: 5px 5px;
    background-color: rgb(182, 205, 255);
    border-radius: 50%;
    margin-top: 30rem;
}

#Reviews{
  justify-content:space-evenly;
  height: 50vh; 
  margin: 10rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-flow: wrap;
}

.header{
    margin-top: -5rem;
    margin-left: -4rem;
    margin-right: -4rem;
    height: 70rem;
    padding:60px;
}

.title{
  font-size: 2rem;
  text-align: left 8px;
  color:black;
  background-color: rgb(169, 196, 255);
  position: fixed;
  width:100%;
  position: fixed;
  margin-right:-1rem;
  margin-left: -.2rem;
  margin-top: -2.5rem;
}