

.img{
  width: 25rem;
    height: 25rem;
    margin: 2rem;
    border-width: 1rem;
    padding: 5px 5px;
  }

#Countries{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 1rem;
}

#Food{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 30rem;
}

#Activities{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 50vh; 
  margin-top: 30rem;
}



.imgs{
  width: 7rem;
    height: 7rem;
    border-width: 1rem;
    padding: 5px 5px;
    background-color: rgb(182, 205, 255);
    border-radius: 50%;
    margin-top: 30rem;
}

#Reviews{
  justify-content:space-evenly;
  height: 50vh; 
  margin: 10rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-flow: wrap;
}

.header{
    margin-top: 4rem;
    margin-left: -3rem;
    margin-right: 4rem;
    height: 100rem;
    width: 200rem;
    padding:60px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;

}

.title{
  font-size: 2rem;
  color:black;
  background-color: rgb(169, 196, 255);
  width:100%;
  margin-top: -8rem;
  margin-left: -1.25rem;

}




.itm{
  margin-top: -8rem;
  margin-right: 4rem;
  margin-left: 12rem;
  display: inline-block;
  font-size: 1rem;
}
a {text-decoration: none; }

a {
  color: inherit;
  text-decoration: inherit;
}
